PORT=8080
SHUTDOWN_TIMEOUT_MS=20000
LOG_LEVEL="info"
CORS_ORIGIN="*"
READINESS_PING_TIMEOUT_MS=2000
GRAPHQL_MAX_DEPTH=12
GRAPHQL_MAX_ALIASES=15
GRAPHQL_MAX_TOKENS=1000
GRAPHQL_MAX_COST=5000

PG_CONN="postgresql://postgres:postgres@localhost:5432/archive"

ENABLE_GRAPHIQL="true"
ENABLE_INTROSPECTION="true"

ENABLE_LOGGING="true"
ENABLE_JAEGER="true"
JAEGER_SERVICE_NAME="archive-api"
JAEGER_ENDPOINT='http://localhost:14268/api/traces'

BLOCK_RANGE_SIZE=10000
