# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store

# Ignore built ts files
build/**/*
 

# Ignore coverage
coverage/**/*

# Ignore benchmark results
benchmark/*.json
benchmark/*.csv
 
# docker-compose postgres volumes
/db/   
data/   
