# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store

# Ignore built ts files
build/**/*

# Ignore development SQL dump
data/**/*

# Ignore benchmark results
benchmark/*.json
